<header>
    <nav class="navbar">
        <div class="logo">
            <img src="/assets/Image.png" alt="Logo">
            <div class="nav-text">
                <h1>@SDE Shivam Prajapati</h1>
                <p>Software Engineer</p>
                <p class="change-text">I am a <span class="highlight typed"></span></p>
            </div>
        </div>
        <div class="menu" id="menu">
            <a href="/home" class="active">Home</a>
            <a href="/home/#skills">Skills</a>
            <a href="/home/#projects">Projects</a>
            <a href="/home/#about">About</a>
            <a href="/home/#contact">Contact</a>
            <div class="theme-toggle" onclick="toggleTheme()">
                <i class="fa-solid fa-moon" alt="Toggle Dark Mode" id="theme-icon"></i>
            </div>
            <!-- <a href="/singUp">SingUp</a>
            <a href="/login">Login</a> -->
        </div>
        <div class="controls">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </nav>
    <script src="/public/js/script.js"></script>
</header>


