<header>
    <div id="main-header">
        <div class="image-name">
            <div class="header-image">
                <img src="/assets/Image.png" alt="My Image" class="hero-image">
            </div>
            <div class="name">
                <h2>@SDE Shivam Prajapati</h2>
                <p>Software Engineer</p>
                <h3>I am a <span class="typed"></span></h3>
            </div>
        </div>
        <div class="navbar">
            <a href="/home" class="home" style="color:#FFA600">Home</a>
            <a href="#skill-home">Skills</a>
            <a href="/home/#project-home">Projects</a>
            <a href="/home/#about-main">About</a>
            <a href="/contact">Contact</a>
            
            <!-- <a href="/singUp">SingUp</a>
            <a href="/login">Login</a> -->
        </div>
    </div>

    <script src="/public/js/script.js"></script>
</header>


