<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@SDE Shivam</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <h2>About Me</h2>
    <h6>• Pursuing BSc (Information Technology) From SIES (Nerul) College Of Arts Science And Commerce
        affiliated
        Mumbai University. Batch 2022-2025.
    </h6>

    <h6>• I have learned Frontend Technologies(HTML5, CSS3, JavaScript, and their Frameworks Bootstraps,
        Technology)
        as well as Backend Technologies(JSP and Databases) and Creates Some Projects using these
        Technologies.
    </h6>

    <h6>• Outside of the Tech World, Hobbies is Visiting new place and Shoot Vlogs. </h6>
</body>

</html>