/*================================= Universal and Body Styling Start======================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    outline: none;
}

body {
    font-family: 'poppins', sans-serif !important;
    min-height: 100vh;
    overflow-x: hidden;
}


/*================================= Universal and Body Styling End ======================= */

/*================================= Header Section Start ======================= */


#main-header {
    font-family: 'poppins', sans-serif !important;
    top: 0;
    position: sticky;
    background-size: cover;
    height: 26vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hero-image {
    margin-top: 1.3rem;
    height: 7.3rem;
    width: 7.3rem;
    border-radius: 50%;
    box-shadow: 2px 5px 5px #FFA600;
    animation: slideleft 1s ease forwards;
    opacity: 1;

}

@keyframes slideleft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.image-name {
    display: flex;
    justify-content: flex-start;
    color: black;
}


.image-name .name {
    font-family: 'poppins', sans-serif;
    margin-top: 2.3rem;
    margin-left: 2rem;
    width: 19rem;
}

.image-name .name h2 {
    animation: part1 1s ease forwards;
    animation-delay: 1ms;
    opacity: 0;
}

@keyframes part1 {
    0% {
        transform: translateY(-100px);
        /* upper se niche animatio */
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.image-name .name h3 {
    margin-top: 1rem;
}

h3 span {
    position: relative;
    color: #BD53ED;
    padding-left: 0.1rem;
}


.image-name .name span::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8%;
    height: 1.5rem;
    width: 2px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.navbar {
    margin-top: 1rem;
    margin-right: 1rem;
}

.navbar ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
}

.navbar ul li {
    padding-left: 0.5rem;
}


.navbar a {
    font-size: 1.3rem;
    padding: 0.3rem;
    text-decoration: none;
    color: black;
    transition: 0.2s all;
    animation: navMenu 3s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 1;
}

.navbar .menu-button {
    margin-top: 0.8rem;
    margin-left: 2rem;
    display: none;
}
@media screen and (max-width:771px) {
    .navbar {
        display: none;
    }
}
@media screen and (max-width:771px) {
    .navbar .menu-button {
        display: block;
    }
}



/* ------------------------------------------------------------------- */



@keyframes navMenu {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}



.navbar a:hover {
    text-decoration: underline;
}



/*================================= Header Section End ======================= */


/*================================= Preject Section  Start ======================= */
.projects-section {
    padding: 50px 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.projects-section h2 {
    font-size: 2.5rem;
    color: #fbc02d;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.projects-section h2 span {
    color: #333;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.project-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}
.project-image {
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%;
    height: 200px; /* Example height, adjust as needed */
    border-radius: 15px 15px 0 0; /* Matches the border-radius of the container */
    position: relative;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #fbc02d;
    border-radius: 15px 15px 0 0;
    transition: transform 0.3s ease;
    opacity: 0; /* Hide the img tag visually but keep it for SEO/alt text */
    position: absolute;
}


.project-card:hover .project-image img {
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 15px 0;
}

.btn-view {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #fbc02d;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-view:hover {
    background-color: #f57c00;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}


/*================================= Preject Section End ======================= */

/*================================= About Section End ======================= */


.about-section {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 50px 0;
}

.about-section h2 {
    text-align: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    border: 2px solid black;
    border-radius: 1rem;
}

.profile-image {
    flex: 1;
    text-align: center;
}

.profile-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #fbc02d;
}

.about-text {
    flex: 2;
    padding: 20px;
}

.about-text .btn-download {
    color: black;
}
.about-text h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-text h2 span {
    color: #fbc02d;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.about-text p strong {
    font-weight: bold;
}

.about-text a {
    color: #fbc02d;
    text-decoration: none;
    font-weight: bold;
}

.btn-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fbc02d;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #f57c00;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .profile-image,
    .about-text {
        flex: unset;
        text-align: center;
    }

    .about-text {
        padding: 0;
    }
}

/*================================= About Section End ======================= */


/*================================= Skill Section Start ======================= */


/* #skill-home {
    margin-top: 5rem;
    height: 77%;
    color: white;
    width: 95%;
    margin-left: 1.9rem;
} */

#skill-home .skill-heading {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skill-home .skill-heading .what {
    color: #FFA600;
}

#skill-home .skill-heading .I {
    color: #BD53ED;
    margin-left: 0.4rem;
}

#skill-home .skill-heading .know {
    color: #14131a;
    margin-left: 0.4rem;
}


.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-card {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.skill-card ul {
    list-style: none;
    color: black;
}

.skill-card li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-card img {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .skill-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        width: 90%;
    }
}

/*================================= Skill Section End ======================= */



/* ========================================== Review Section Start ======================================================== */
.review-main {
    background-color: #00ffff;
    height: 100vh;
    width: 100vh;
}

/* ========================================== Review Section End ======================================================== */


/*=================================== Home Page ======================================*/




/*======================================About Section Another Page  Start =====================================================*/


#about-home {
    background-image: url(./assets/Background-image.jpg);
    background-color: #00ffff;
    height: 100vh;
    display: flex;
}

#about-content {
    width: 40%;
}

#about-content h3 {
    background-color: #00ffff;
    display: flex;
    justify-content: center;
}


/* ========================================== About Section End ======================================================== */


/*================================ Contact Details Section Another Page Start ========================================*/

#contect-main {
   
    margin: auto;
    width: 100vw;
    margin-top: 3rem;
}

.contect-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .contect-heading {
       margin-left: 7rem;
    }
}


.contect-heading .me {
    margin-left: 1rem;
    color: #FFA600;
}

.contect-form {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
}

.contect-form img {
    margin-left: 5rem;
    height: 5rem;
    width: 5rem;
}

@media screen and (max-width: 700px) {
    .contect-form img {
        display: none;
    }
    .contect-form {
        margin-left: 5rem;
    }
}


.contect-form .msg-form {
  
    text-align: center;
    flex: 1;
    margin-right: 3rem;
}


.contect-form .name {
    margin-top: 1rem;
    height: 3rem;
    width: 80%;
    border: 3px solid #FFA600;
    border-radius: 8px;
}

.contect-form .email {
    margin-top: 1rem;
    height: 3rem;
    width: 80%;
    border: 3px solid #FFA600;
    border-radius: 8px;
}

.contect-form .number {
    margin-top: 1rem;
    height: 3rem;
    width: 80%;
    border: 3px solid #FFA600;
    border-radius: 8px;
}

.contect-form .message {
    margin-top: 1rem;
    height: 3rem;
    width: 80%;
    border: 3px solid #FFA600;
    border-radius: 8px;
}

.msg-form .send-btn {
    background-color: #FFA600;
    height: 2.2rem;
    width: 15rem;
    border-radius: 12px;
    box-shadow: 5px 5x #FFA600;
    transition: 8   00ms all;
}


.msg-form .send-btn:hover {
    background-color: white;
}
/* ========================================== Contact Section End ======================================================== */



/* ========================================== footer Section Start ======================================================== */
#main-footer {
    margin-top: 5rem;
}


.foot-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; 
    margin-left: 5rem;
}

.join-us {
    height: 20px;
    width: 200px;
}


.social-icon {
    display: flex;
    margin-top: 10px;
}

.foot-box .social-icon i {
    margin-top: 1rem;
    letter-spacing: 2rem;
    font-size: 2rem;
}


.foot-box .footer-title {
    padding-top: 1rem;
}



.foot-box .social-icon i {
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    border-radius: 50%;
    color: #14131a;
    padding: 0.40rem;
    margin-left: 0.2rem;
    transition: 0.3ms;
    opacity: 0.8;
}

.foot-box .social-icon i:hover {
    opacity: 1;
    background-color: chartreuse;
    box-shadow: 0 0 1.2rem black;
}


/* ========================================== footer Section End ======================================================== */